.contact-section {
  display: flex;
  justify-content: space-between;

  padding: 80px 100px;
  max-width: 1400px;
  
  font-family: 'Poppins', sans-serif;
}

/* LEFT */
.contact-left {
  width: 30%;
  color: #4f6373;
}

.small-title {
  font-size: 14px;
  margin-bottom: 20px;
}

.contact-left p {
  font-size: 13px;
  margin-bottom: 8px;
}

.address {
  margin-top: 20px;
  line-height: 1.6;
}

.logo-box {
  margin-top: 30px;
  width: 60px;
  height: 60px;
  border: 2px solid #d4a15a;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DIVIDER */
.vertical-line {
  width: 1px;
  background: #d4a15a;
  margin: 0 40px;
}

/* RIGHT */
.contact-right {
  width: 60%;
}

.contact-right h2 {
  font-size: 28px;
  color: #4f6373;
}

.sub-text {
  font-size: 13px;
  margin: 10px 0 40px;
  color: #6c757d;
}

/* FORM */
.form {
  width: 100%;
}

.input-group {
  margin-bottom: 30px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d4a15a;
  background: transparent;
  padding: 10px 0;
  outline: none;
}

.input-group span {
  font-size: 11px;
  color: #6c757d;
}

/* BUTTON */
.send-btn {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background: #4f6373;
  color: #fff;
  cursor: pointer;
}